<!doctype html>
<html lang="en">
<head>
    <title>{% block title 'Mon site' %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ assets('style','bootstrap','css') }}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('blog.admin.index') }}">administration
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        </ul>
    </div>
</nav>
<div class="container">
    {% if flash('success') %}
        <div class="alert alert-success" role="alert">
            <strong>{{ flash('success') }}</strong>
        </div>
    {% endif %}
    {% if flash('error') %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ flash('error') }}</strong>
        </div>
    {% endif %}


    {% block body %}{% endblock %}

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ assets('script','jquery_3-4-1','min.js') }}"></script>
<script src="{{ assets('script','bootstrap','js') }}"></script>

</body>
</html>